body
{
    background-color:darkgreen;
}
a:link a:visited a:active a:hover
{
   color:darkgreen; 
}

.row{
    background-color:palegreen ;
}
h2{
    color: darkgreen;
}
hr{
    width: 50%;
    margin: 0 auto;
}
#kepbala{
    border: solid 1px black;
    display: block;
    margin: 0 auto;
}